:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #333333;
    --secondary-color: #45a049;
    --background-color: #f9f9f9;
    --text-color: #333;
    --muted-text-color: #777;
    --header-footer-bg-color: #333;
    --header-footer-text-color: #fff;
    --input-border-color: #c0bfcf;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --funnel-background-color: #0e141f;
    --funnel-highlight-color: rgb(0, 176, 255);
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

header:not(.rebilly-instruments-error-card-header) {
    background-color: #fff;
    color: #fff;
    padding: 0;
    text-align: center;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo a {
    line-height: normal;
}

header .logo img {
    width: 250px;
}

header .logo p {
    margin: 0;
    line-height: 1;
    font-weight: bold;
}

header h1 {
    font-size: 2.5em;
    line-height: 1;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

header section {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}

header section .header-button {
    border: 1px solid var(--header-footer-text-color);
    padding: 8px 20px;
    line-height: 1;
    margin-left: 6px;
    font-weight: 600;
    font-size: 1rem;
}

.container,
.product {
    width: clamp(300px, 100%, 1200px);
    margin: 20px auto;
    padding: 0 20px;
    flex: 1 0 auto;
}

.container.hide,
.product.hide {
    display: none;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro h2 {
    font-size: 2em;
    color: var(--text-color);
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2em;
    color: var(--muted-text-color);;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

.checkbox-wrapper {
    margin-top: 20px;
}

.membership,
.product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.membership-card,
.product-card {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 600px;
    text-align: center;
    transition: transform 0.3s ease;
}

.membership-card h3,
.product-card h3 {
    font-size: 1.8em;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.membership-card p,
.product-card p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}

.price {
    font-size: 2em;
    color: var(--text-color);
    margin-bottom: 20px;
}

.price span {
    font-size: 0.5em;
    color: var(--muted-text-color);;
}

.btn,
.header-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: var(--header-footer-text-color);
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.5;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.features {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-item {
    background-color: var(--header-footer-text-color);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px var(--shadow-color);
    max-width: 300px;
    text-align: center;
}

.store-item {
    cursor: pointer;
    transition: transform 0.15s ease;
}

.store-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-item h4,
.feature-item h3 {
    color: var(--primary-color);
    margin-bottom: 15px;
}

.feature-item h3 {
    line-height: 1.2;
    margin-bottom: 20px;
}

.feature-item p {
    color: #555;
}

.donation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.donation-button,
.deposit-button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: white;
    padding: 16px 32px;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    width: 100%;
}

.donation-button.is-active,
.donation-button:hover,
.deposit-button.is-active,
.deposit-button:hover,
#make-donation,
#make-deposit {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    padding: 16px 32px;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

.donation-input,
.deposit-input {
    border: 1px solid var(--primary-color);
    padding: 16px 32px;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 20px;
    width: 100%;
}

footer {
    background-color: var(--header-footer-bg-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
}

footer p {
    font-size: 1em;
}

/* Profile tabs */

.tabbed {
    overflow-x: hidden; /* so we could easily hide the radio inputs */
    margin: 32px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.tabbed [type="radio"] {
    /* hiding the inputs */
    display: none;
}

.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.tab:hover label {
    border-top-color: var(--header-footer-bg-color);
    color: var(--text-color);
}

.tab-content {
    display: none;
    color: var(--muted-text-color);;
    padding-block: 20px;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
    border-bottom-color: #fff;
    border-top-color: var(--primary-color);
    background: #fff;
    color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
    display: block;
}

/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th.align-right,
td.align-right {
    text-align: right;
}

td.actions {
    text-align: center;
}

td.actions a {
    color: var(--primary-color);
}

#loading {
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
}

/* Debriefs */

.debriefs-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 800px;
    margin: 0 auto;

    code {
        background-color: #eee;
        padding: 2px 4px;
        border-radius: 4px;
        font-weight: 600;
    }
}

.debriefs-container img {
    width: 100%;
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 0;
    border: 1px solid #ccc;
}

.debriefs-container.is-project small {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 500;
}

.debriefs-container.is-project,
.debriefs-container.is-project * {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--text-color);

    li + li {
        margin-top: 1.5rem;
    }

    p {
        margin: 0;
    }
}

.debrief-link {
    color: var(--primary-color);
    background-color: white;
    padding: 16px 32px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.debrief-link:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Product */
.product-feature {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    margin-top: 2rem;
}

.product-image {
    flex: 1;
    min-width: 300px;
}

.product-details {
    flex: 1;
    min-width: 300px;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 1rem 0;
}

.product-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
}

.quantity-picker {
    margin-bottom: 4rem;
}

.quantity-picker label {
    margin-right: 0.5rem;
}

.quantity-picker input {
    width: 60px;
    padding: 0.25rem;
}

.buy-now-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
    background-color: #d86200;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-inner {
    width: 100%;
    position: relative;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 1;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    padding: 0 10px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    z-index: 10;
    right: 50%;
    transform: translateX(50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
    line-height: 1;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #d86200;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body.funnel {
    background-color: var(--funnel-background-color);
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .funnel-logo {
        width: 225px;
        margin-top: 40px;
    }

    b {
        color: var(--funnel-highlight-color);
    }

    span:nth-of-type(1) {
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 1.48rem;
        letter-spacing: 0.3rem;
        margin-top: 40px;
        opacity: 0.5;
    }

    span:nth-of-type(2),
    span:nth-of-type(4) {
        font-weight: 900;
        font-size: 2.97rem;
        line-height: 115%;
    }

    span:nth-of-type(3) {
        color: var(--funnel-highlight-color);
        letter-spacing: 0;
        font-size: 5.13rem;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 115%;
    }

    span:nth-of-type(5) {
        font-weight: 600;
        font-size: 1.42rem;
        line-height: 125%;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    span:nth-of-type(6) {
        font-weight: 700;
        font-size: 34px;
        line-height: 120%;
        letter-spacing: 0;
    }

    span:nth-of-type(7) {
        margin-block: 30px;
        padding-bottom: 60px;
    }

    .funnel-secure {
        margin-block: 40px;
    }

    .funnel-form {
        background-color: #ffffff;
        border-radius: 12px;
        border: 3px solid var(--funnel-highlight-color);
        padding: 20px 40px 40px 40px;
        width: clamp(70%, 825px, 825px);
        margin: 40px 0;
        font-family: "Inter", sans-serif;
        text-align: left;
        color: var(--funnel-background-color);
        position: relative;

        fieldset {
            border: none;
        }

        .form-loader {
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 9px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.is-hidden {
                display: none;
            }

            .loader {
                border-top-color: #000;
            }
        }

        .rebilly-framepay {
            height: 38px;
            border: 1px solid var(--input-border-color);
            box-shadow: none;
            height: 46px;
            border-radius: 0;
        }

        .rebilly-framepay.rebilly-framepay-focus {
            box-shadow: inset 0 0 0 1px #000;
        }

        .form-framepay {
            display: flex;
            flex-wrap: wrap;

            .framepay-mounting-point {
                width: 100%;

                .rebilly-framepay {
                    border-radius: 6px 6px 0 0;
                }
            }

            .framepay-exp,
            .framepay-cvv {
                width: 50%;

                .rebilly-framepay {
                    border-top: none;
                    border-radius: 0 0 0 6px;
                }
            }

            .framepay-cvv {
                .rebilly-framepay {
                    border-left: none;
                    border-radius: 0 0 6px 0;
                }
            }
        }

        .form-framepay-errors {
            border: 1px solid red;
            background: rgb(255, 240, 240);
            color: red;
            border-radius: 4px;
            padding: 4px 8px;
            margin-top: 12px;

            &:empty {
                display: none;
            }
        }

        .form-section-label {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #2f2f2f;
            text-transform: uppercase;
            font-weight: 600;
            margin: 20px 0 12px 0;

            hr {
                flex: 2;
                margin-left: 16px;
            }
        }

        .field {
            input {
                border: 1px solid var(--input-border-color);
                line-height: 20px;
                padding: 14px 12px;
                font-size: 16px;
                width: 100%;
                border-radius: 6px;
                outline: none;

                &:focus {
                    box-shadow: inset 0 0 0 1px #000;
                }
            }
        }

        .form-contact {
            display: grid;
            grid: auto-flow / 1fr 1fr;

            .field:nth-of-type(1) input {
                border-right: none;
                border-bottom: none;
                border-radius: 6px 0 0 0;
            }

            .field:nth-of-type(2) input {
                border-bottom: none;
                border-radius: 0 6px 0 0;
            }

            .field:nth-of-type(3) input {
                border-right: none;
                border-radius: 0 0 0 6px;
            }

            .field:nth-of-type(4) input {
                border-radius: 0 0 6px 0;
            }

            &.is-billing {
                grid: auto-flow / 1fr;

                .field input {
                    border: 1px solid var(--input-border-color);
                    border-radius: 0;

                }

                .field:nth-child(even) input {
                    border-top: none;
                    border-bottom: none;
                }

                .field:first-child input {
                    border-radius: 6px 6px 0 0;
                }

                .field:last-child input {
                    border-bottom: 1px solid var(--input-border-color);
                    border-radius: 0 0 6px 6px;
                }
            }
        }

        .form-product {
            display: flex;
            padding: 12px;
            border-radius: 6px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--input-border-color);
            color: #000;

            .form-product-title {
                display: flex;
                align-items: center;
            }

            .form-product-radio {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #000;
                margin-right: 14px;
                margin-left: 10px;
                box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #000;
            }
        }

        .funnel-checks {
            font-size: 14px;

            .funnel-checks-replays,
            .funnel-checks-partners {
                border-radius: 6px;
                border: 3px solid #ffe400;
                background-color: #fffef1;
                padding: 16px;
                margin-top: 20px;

                .funnel-checks-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    label {
                        cursor: pointer;
                        font-weight: 600;
                    }

                    input[type="checkbox"] {
                        cursor: pointer;
                        margin-right: 4px;
                    }
                }

                .funnel-checks-price {
                    opacity: 0.5;
                }

                input[type="number"] {
                    border: 1px solid var(--input-border-color);
                    line-height: 20px;
                    padding: 10px 12px;
                    width: 100px;
                    font-size: 16px;
                    border-radius: 6px;
                    outline: none;
                    margin-top: 12px;

                    &:focus {
                        box-shadow: inset 0 0 0 1px #000;
                    }

                    &.is-not-visible {
                        display: none;
                    }
                }
            }
        }

        .form-summary {
            padding: 12px;
            border-radius: 6px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--input-border-color);
            color: var(--funnel-background-color);
            margin-top: 20px;

            .form-product-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .caret {
                    width: 10px;
                    height: 10px;
                    border: 2px solid #000;
                    border-top: none;
                    border-right: none;
                    border-radius: 2px;
                    transform: rotate(-45deg);
                }
            }

            .form-summary-items {
                margin-top: 10px;

                .form-summary-item {
                    display: flex;
                    justify-content: space-between;
                    opacity: 0.7;
                }
            }
        }

        .form-button {
            font-weight: 600;
            font-size: 24px;
            color: #ffffff;
            background: var(--funnel-highlight-color);
            padding: 15px 25px;
            width: 100%;
            line-height: 1;
            border: none;
            border-radius: 6px;
            margin-top: 40px;
            cursor: pointer;

            &:hover {
                background-color: #555;
            }
        }

        small {
            text-align: center;
            display: block;
            margin-top: 20px;
            opacity: 0.6;
        }
    }

    .result {
        text-align: center;
        display: none;

        table {
            table-layout: auto;

            th {
                border: none;
                border-bottom: 2px solid #000;
            }

            tr.totals {
                td {
                    border: none;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    font-weight: bold;
                }

                &.amount {
                    td {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        border-top: 2px solid #000
                    }
                }
            }
        }
    }
}

.funnel-banner {
    background: var(--funnel-background-color);
    font-family: "Montserrat", sans-serif;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 110%;
    cursor: pointer;
    text-decoration: none;

    span {
        text-transform: uppercase;
        color: var(--funnel-highlight-color);
    }
}


.btn-group {
    display: inline-flex;
    border-radius: 50px;
    overflow: hidden;
}

.btn-group button {
    display: inline-block;
    padding: 12px 25px;
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 0;
}

.btn-group button:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btn-group button:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-group button:disabled {
    opacity: 0.5;
}

.btn-group button:hover:not(:disabled) {
    background-color: rgba(51, 51, 51, 0.35)
}

.btn-group button.active {
    color: var(--background-color);
    background-color: var(--primary-color);
}